* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    /*font-family: 'Inter', 'Helvetica Neue', sans-serif;*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #E5E5E5;
    background-color: #fff;
    line-height: 1.25;
    background: #121212;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
}

.section-header {
    text-align: center;
    margin-top: 10px;
    font-size: 3rem;
    font-weight: 900;
}

/* HEADER */

.i-want-this-on-da-left {
    display: flex;
    gap: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 10px;
    font-size: 1.2rem;
}

.header ul {
    display: flex;
    gap: 1rem;
}

/* WELCOME SECTION */

.welcome-section {
    background-image: url('/images/welcome-page-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 50%;
}

.welcome-text h1 {
    font-size: 3rem;
    font-weight: 900;
    width: 75%;
}

.welcome-text p {
    font-size: 1rem;
    color: #E5E7EB;
    text-wrap: wrap;
    width: 75%;
}

.welcome-text button {
    background-color: #3882F6;
    display: inline-block;
    border: none;
    padding: 6px 15px;
    border-radius: 5px;
    color: #E5E7EB;
    margin-top: 10px;
    font-weight: 600;
}

#welcome-page-img {
    max-width: 600px;
    height: auto;
}

/* ABOUT SECTION */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container-1 {
    background-image: url('/images/about-us-boxing.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    width: 100%;
    text-wrap: wrap;
    margin-top: 20px;
}

.about-container-2 {
    background-image: url('/images/training.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    width: 100%;
    text-wrap: wrap;
}

.text-content {
    width: 50%;
    color: #d6d6d6;
    text-align: center;
    padding: 30px;
}

.text-content h1 {
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.text-content p {
    padding-bottom: 10px;
    font-weight: 600;
}

/* MEMBERSHIPS SECTION */

.memberships {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    height: 50vh;
    gap: 1rem;
    padding: 30px;
}

.membership {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.membership li {
    padding: 5px;
}

.membership h1,
.membership h2,
.membership h3 {
    text-align: center;
}

.bronze h1 {
    color: #CD7F32;
}

.silver h1 {
    color: #c8c9cc;
}

.gold h1 {
    color: #FFD700;
}

.bronze {
    border: solid #A0522D 10px;
    padding: 10px;
    background: #703C1D;
}

.silver {
    border: solid #C0C0C0 10px;
    padding: 10px;
    background: #7A7A7A;
}

.gold {
    border: solid #FFD700 10px;
    padding: 10px;
    background: #B8860B;
}

/* CONTACT SECTION */
